<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kd.mapper.UserRoleMapper">
    <select id="findAll" resultType="cn.kd.entity.UserRole">
        select
        id,user_id,role_id
<!--        ,create_time-->
        from sc.ods_hju_t_user_role
<!--        from t_user_role-->
    </select>

</mapper>
